<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>회원가입</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

    <style>
      .sign-form {
        display: block;
        max-width: 500px;
        margin: auto;
      }
    </style>

    <script>
      //회원가입 등록
      function signUp() {
        let userID = $("#userID").val();
        let PW = $("#PW").val();
        let confirmPW = $("#confirmPW").val();

        $.ajax({
          type: "POST",
          url: `/signup`,
          data: {
            userID: userID,
            PW: PW,
            confirmPW: confirmPW,
          },
          success: function (response) {
            alert("가입 완료");
            window.location.href = "/login";
          },
          error: function (error) {
            alert(error.responseJSON.errorMessage);
          },
        });
      }
      //ID중복확인
      function checkUp() {
        let userID = $("#userID").val();
        $.ajax({
          type: "POST",
          url: `/signup/checkup`,
          data: {
            userID: userID,
          },
          success: function (response) {
            alert(response.Message);
          },
          error: function (error) {
            alert(error.responseJSON.errorMessage);
          },
        });
      }
    </script>
  </head>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">회원가입화면</h1>
      </div>
    </div>
  </section>
  <body class="text-center">
    <main class="sign-form">
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

      <div class="form-floating">
        <div class="input-group mb-3">
          <input
            id="userID"
            type="text"
            class="form-control"
            placeholder="ID"
            aria-label="ID"
            aria-describedby="button-check"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-check"
            onclick="checkUp()"
          >
            중복확인
          </button>
        </div>
        <p></p>

        <div class="form-floating">
          <input
            id="PW"
            type="password"
            class="form-control"
            placeholder="비밀번호"
          />
          <label for="floatingInput">비밀번호</label>
        </div>
        <p></p>

        <div class="form-floating">
          <input
            id="confirmPW"
            type="password"
            class="form-control"
            placeholder="비밀번호 확인"
          />
          <label for="floatingInput">비밀번호 확인</label>
        </div>
        <p></p>

        <p style="margin-top: 50px">
          <button
            onclick="signUp()"
            class="btn btn-lg btn-secondary"
            type="submit"
          >
            저장
          </button>
          <button
            onclick="window.location.href='/login'"
            class="btn btn-lg btn-secondary"
            type="submit"
          >
            취소
          </button>
        </p>
      </div>
    </main>
  </body>
</html>
